@import "../../node_modules/bulma/bulma";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$info: #73B7D4;

body {
    font-family: 'Open Sans', sans-serif;
}

#logo {
    background: url('../images/logo_header.png') no-repeat;
    background-size:contain;
    width: 270px;
  }

.navbar-menu {
    font-size: 1.3rem;
}

.hero-body h1 {
    color: #306B84;
    font-size: 2.25rem;
    font-weight: 600;
    line-height:2.6rem;
}

.hero-body h2 {
    font-size: 1.8rem;
}

#landing {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 0;

    .subtitle {
        letter-spacing: 2px;
        border-bottom: 1px solid gray;
        font-weight: bolder;
        width: fit-content;
        font-size: 1rem;
        margin-top: 10px;
    }
    img {
        width: 50%;
        height: auto;
        align-self: flex-end;
        flex-shrink: 1;
        min-width: 350px;
    }
}

#landing-message {
    align-self: flex-start;
}

#landing2 {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(183,232,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    padding-top: 75px;

    button {
        background-color: #306B84;
        color: #F8F8F8;
    }

    img {
        width: 300px;
        height: auto;
        margin: 50px;
    }
}


.footer {
    background-color: #fff;
}
@media only screen and (min-width: 768px) {
    #landing {
        background-color: #f8f8f8;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-bottom: 0;
        justify-content: space-between;
    }
    #landing-message {
        margin-bottom: 25px;
    }
    

}
